<?xml version="1.0" ?>

<launch>
 
  <param name="robot_description"
    command="$(find xacro)/xacro '$(find hosp_bot)/urdf/hosp_bot.xacro'" />
    
  <!-- BEGIN ROBOT 1-->
  <group ns="robot1">
    <param name="tf_prefix" value="robot1_tf" />
    <include file="$(find hospital_world_2)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 4.60 -y 1.20 -z 0.15 -Y 0" />
      <arg name="robot_name"  value="Robot1" />
    </include>
  </group>

  <!-- BEGIN ROBOT 2 -->
  <group ns="robot2">
    <param name="tf_prefix" value="robot2_tf" />
    <include file="$(find hospital_world_2)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 25  -y 3.5 -z 0.15  -Y 3.12" />
      <arg name="robot_name"  value="Robot2" />
    </include>
  </group>

</launch>
