<?xml version="1.0" ?>

<launch>

 <param name="use_sim_time" value="true" />

  <!-- Run the map server -->

  <node name="map_server" pkg="map_server" type="map_server" args="$(find hosp_bot)/maps/hosp_map.yaml" >
  </node>

   <!-- AMCL -->

   <include file="$(find hosp_bot)/launch/amcl1.launch" />
   <include file="$(find hosp_bot)/launch/amcl2.launch" />


   <!-- MOVE_BASE -->

   <include file="$(find hosp_bot)/launch/move_base1.launch" /> 
   <include file="$(find hosp_bot)/launch/move_base2.launch" />


 <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hosp_bot)/rviz/hosp.rviz" />

</launch>
