<?xml version="1.0" ?>

<launch>
    <node pkg="nodelet"
          type="nodelet"
          name="qr_detector1"
          args="standalone qr_detector/qr_detector_nodelet">
        <remap from="image" to="/robot1/camera/image_raw"/>
	<remap from="/qr_codes"  to="/robot1/qr_codes" />
    </node>
</launch>
